.navigation{
    float: right;
    height: 100%;
}

.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
	text-decoration: none;
}

.navigation a li{
    vertical-align: middle;
    display: table-cell;
    font-size: 20px;
    color: white;
}

.navigation a:hover{
    background-color: gray;

}

.header {
    background-color: #101010;
    padding: 10px 20px;
}

.inner-header {

}

.logo-container h1{
    color: white
}

.content img{
	float: left;
}

.content p{
	font-size: 20px;
}

.content h2 {
	text-align: center;
}